@charset "utf-8";
/*planplan.io     #201F28     */

@font-face{font-display: swap;font-family:CalSans-SemiBold;font-style:normal;font-weight:600;src:url(https://planplan.io/static/CalSans-SemiBold.woff2) format("woff2")}
@font-face{font-display: swap;font-family:DM Sans;font-style:normal;font-weight:400;src:url(https://planplan.io/static/DMSans-Medium.woff2) format("woff2")}
a{cursor: pointer;text-decoration: none;color:#007ea7}
a:hover{color: #0194c4;}
ul, li{list-style: none;display: block;margin-block-start: 0;margin-block-end: 0;padding: 3px 0;}
html{scroll-behavior: smooth;box-sizing: content-box;max-width: 100%}
h1,h2, h3{font-family:CalSans-SemiBold,sans-serif;display: block;font-weight: bold;letter-spacing: 1.2px;}
p{margin: 0;}
body{font-family:DM Sans,sans-serif;letter-spacing: 0.06rem;word-spacing: 0.16rem;overflow-x: hidden;margin: 0;min-height: 100vh;}
::placeholder{font-size: 14px;}
*, ::after, ::before {box-sizing: border-box;}*:focus {outline: none;}

.dark .iim1{ background-image: url(/static/fond-ecran.png);
    background-repeat: no-repeat;
    background-position:  75% 25%;}


.light .iim1{ background-image: url(/static/fond-ecran-3.png);
        background-repeat: no-repeat;
        background-position:  75% 25%;}

.fb{font-family:DM Sans,sans-serif}
.fd{font-family:CalSans-SemiBold,sans-serif}

.fs10{font-size: 10px;}
.fs12{font-size: 12px;}
.fs14{font-size: 14px;}
.fs16{font-size: 16px;}
.fs32{font-size: 32px;}

.c1{color:#0d1041}
.c2{color:#007ea7}
.c3{color:#c81d25}
.c4{color:#fff}
.c5{color:#a1a1a1;}
.c6{color:#000;}
.bc1{background-color:#0d1041}
.bc2{background-color:#007ea7}
.bc3{background-color:#c81d25}
.bc4{background-color:#fff}
.bc5{background-color:#a1a1a1;}
.bc6{background-color:#000;}

.dark, .dark .hea1, .dark .foo1, .dark input{background-color:#2B2A33; color:#fff}
.light, .light .hea1, .light .foo1, .light input{background-color:#fff; color:#3e3d3d}
.dark button, .dark input{background: #42424b;border: 1px solid #2B2A33;}
.light button{background-color:#fff}
.dark ::placeholder{color: #fff;}

.hea2,.imai3a{display: flex;}
.hea1{width: 100%;position: sticky;top: 0;z-index:999;box-sizing: border-box;}
.hea1a{padding: 5px;align-items: center;}
.hea2a{margin-right: 1%;}

.ddk{padding: 10px;margin-right: 1%;}
.dark .ddk1{fill: #fff;}
.light .ddk1{fill: #555;}
.hea2aa{fill: #007ea7;}
.foo1{width: 100%;position: fixed;bottom: 0;z-index: 999;}
.foo1a{padding: 10px 5px;font-size: 13px;}

.mai1{width: 100%;margin: 50px auto}
.mai1a{padding: 0 5px;}
.imai1a{padding: 0 5px;}
.imai3b{margin: 1rem 0;}
.imai4{width: 50%;}


.up2{border: 1px solid #c1c1c1;border-radius: 6px;font-size: 13px;margin-bottom: 8px;display:flex}
.up3{overflow: hidden;}
.up4{float: left;background: #fff;border-radius: 6px;}
.up5{border-radius: 6px;  transition: transform 1s,filter .5s ease-out;}.up5:hover{transform: scale(1.3);}
.up6{width: 78%;}.up7a{padding: 0 15px;color: #007ea7;font-size: 11px;}
.up9{min-height:50px;display: inline-block;}
.up11{float:right;border-radius: 5px;}
.up20{display: flex;text-align: center;margin: 30px auto 20%;}
.up21{width: 49%;margin-right: 1%;padding: 10px 0;border-radius: 6px;float: left; margin-right: auto;}
.up22{width: 49%;margin-left: 1%;padding: 10px 0;border-radius: 6px;float: right; margin-left: auto;}
.up23 {fill: #007ea7;width: 10px;height: 10px;}

.light .up21, .light .up22, .light .up2,.light .up11{border: 1px solid #c1c1c1;background-color: #fff;}
.dark .up21,.dark .up22,.dark .up2{border: 1px solid #36353E;background-color: #36353E;}
.light .up2:hover,.dark .up2:hover,.dark .hea2d:hover, .light .hea2d:hover,.light .up11:hover ,.dark .up11:hover {border: 1px solid #007ea7;}
.dark .up11{border: 1px solid #42424b;background: #42424b;}

.imai3d{padding:15px;}
.hea2c{padding:10px;}
.imai3e{padding: 15px 0;}
.hea2d{padding: 10px 0;}
.imai3d,.hea2c{border: 1px solid #c1c1c1;border-radius: 6px;width: 75%;margin-right: 2%;font-size: 14px;}
.imai3e,.hea2d{border: 1px solid #c1c1c1;border-radius: 6px;cursor: pointer;width: 23%;font-size: 14px;font-weight: 600;color:#007ea7;}
input:focus, button:focus{border: 1px solid #007ea7;}


.brea0{font-size: 14px;margin: 50px 0; }
.brea1{margin-left: 0!important;display: inline-flex;color:#888} 
.brea2{align-items: center;display: flex;}
.brea2::after, .brea3::after{content: " / ";padding:0 5px;}
.brea5{width: 16px;margin-top: -2px;align-content: center;display: flex;fill: #007ea7;}


@media (max-width:912px){.hea2{margin-top: 10px;}.smai1{margin-top: -30px;}
.hea1a,.mai1a,.imai1a,.foo1a{max-width: 100%;}
.imai3{width: 100%;}.imai3b{font-size: 0.8rem;}
.imai4{width: 100%;}
.mai1 { margin-top: 40px;}
.up1{width: 100%;}
.hea1a { padding: 10px;}
.up2{padding: 10px 5px;}
.up3 {margin: 5px 4% 5px 2%;width: 120px;}
.up5 {width: 100px;height: 100px;}
.up9{font-size:14px}
.up11{margin: -30px 5%;padding: 5px 15px;}
h1 {font-size: 2em;margin-block-start: .67em;margin-block-end: .67em;}
h2 {font-size: 1.5em;margin-block-start: .83em;margin-block-end: .83em;}
.hea2aa{width: 148px; height: auto;}
}

@media (min-width:768px) and (max-width:912px) {.mai1a,.imai1a {margin: auto;width: 80%;}}

@media (min-width:912px){
.hea1a,.mai1a,.imai1a,.foo1a{max-width: 75%; margin-inline:auto;}
.hea1a{display: flex;min-height: 50px;}
.hea2{width: 50%;}
.up1{width: 70%;}
.imai1a{margin-top: 7%;}
.imai3{width: 80%;margin-left: 8%;}
.imai1a h1 {font-size: 3.2em;margin-block-start: .20em;margin-block-end: .10em;}
.up2{padding: 15px;}
.up3{width: 160px;margin: 0}
.up4{height: 140px}
.up10{font-size:1.09rem}
.up11{margin: -30px 14%;padding: 7px 22px;}
h1 {font-size: 2em;margin-block-start: .67em;margin-block-end: .67em;}
h2 {font-size: 1.5em;margin-block-start: .83em;margin-block-end: .83em;}
.hea2aa{width: 148px; height: auto;}}


@media (min-width:1400px){
.imai1a h1 {font-size: 4em;margin-block-start: .40em;margin-block-end: .20em;}
.hea2aa{width: 148px; height: auto;}}

@media (min-width:1921px){
.up1{width: 50%;}
.imai3{width: 60%;}
.imai1a {margin-top: 9%;}
.up3 {width: 20%;margin: 5px 2%;}
.hea1a, .mai1a, .imai1a, .foo1a {max-width: 65%;margin-inline: auto;}}

input[type=search] {-webkit-appearance:none;-moz-appearance:none;appearance:none;}